/**
 * {{properCase name}}
 *
 */

import Vue from 'vue';
{{#if wantActionsAndMutations}}
import { createNamespacedHelpers } from 'vuex';
{{/if}}
{{#if wantStyleSheet}}

// StyleSheet
import './style.scss';
{{/if}}
{{#if wantActionsAndMutations}}

// Namespaced Helper
const { mapState, mapGetters } = createNamespacedHelpers('{{camelCase name}}');
{{/if}}

export default Vue.component('{{properCase name}}', {
{{#if wantActionsAndMutations}}
  computed: {
    ...mapState({

    }),
    ...mapGetters([

    ]),
  },
{{/if}}
  template: `
    <section class="{{dashCase name}}">
      <span>{{titleCase name}}</span>
    </section>
  `,
});
